html {
  font-size: 18px;
  font-family: helvetica;
  line-height: 1.4
}

#top {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  width: 100%;
  position: absolute;
}

/* Header Bar */
.site-container {
  width: 960px;
  margin: 0rem auto;
}
.header-bar{
  background-color: cadetblue;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem 0rem;
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 1.5rem;
  padding: 0rem 1rem 0rem 2rem;
}

.logo-text{
  font-size: 1rem;
  color: white;
}

.nav-entry {
  padding-right: 2rem;
  color: white;
}

/* Marquee Box */

#marquee-container {
  width: 960px;
  margin: 0rem auto 0rem auto;
  padding-left: 2rem;
  display: flex;
  justify-content: flex-end;
}

.marquee {
  background-color: white;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  display: flex;
  align-content: center;

}
.marquee span {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* services */

#services-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 30rem auto;
  width: 100%;
  position:absolute;
}

.service {
  display: flex;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pic-wide {
  max-width: 90%;
}
.pic-narrow {
  width: 3.5rem;
  height: auto;
}
.service span {
  text-align: center;
}

/* blurbs */
#copy-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 44rem auto 0rem auto;
  width: 100%;
  height: 20rem;
  position:absolute;
}

.blurb-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
  margin: 0rem 2.5% 5rem 2.5%;
}
.blurb-title {
  color: white;
  background-color: cadetblue;
  font-weight: bold;
  text-transform: uppercase;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  text-align: left;
}

/* footer */

#bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 60rem auto 0rem auto;
  width: 100%;
  position:absolute;
}

#bottom .site-container{
  background-color:azure;
  padding: 4rem;
}

.copyright-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.copyright-container img {
  height: 1.5rem;
  padding-right: 1rem;
}
